FRONT= 'http://localhost:3000'
DB_HOST = 'localhost'
DB_PORT=5432
DB_USERNAME= '...'
DB_PASSWORD= '....'
DB_NAME='prueba'
JWT_SECRET=secretDePrueba123
DB_SYNCHRONIZE = false
BCRYPT_SALT_ROUNDS=10
CLOUDINARY_CLOUD_NAME= 
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FATSECRET_CLIENT_ID=
FATSECRET_CLIENT_SECRET=
ADMIN_USER_ID=1
RECIPES_PER_PAGE=6
INGREDIENTS_PER_PAGE=10